<h1> Index for Posts </h1>
<% @post.each do |post| %>
	<div class="well">
		<h6> <%= post.title %></h6>
		<p><%= post.body %><br></p>
		<%= link_to "Read More", post_path(post), 
		:class => 'btn btn-default' %>
	</div>
<% end %>